:root {
	--fg-color: white;
	--bg-color: rgba(0,0,0,0.8);
	--titles-color: #c6a0f6;
	--bg-img: url(assets/background.jpg);
}

body {
	font-family: monospace;
	background-image: var(--bg-img);
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.container {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	padding: 5%;
	display: grid;
	grid-template-columns: auto auto;
	background-color: var(--bg-color);
	color: var(--fg-color);
	border: none;
	border-radius: 5px;
}

h2 {
	text-align: center;
	text-justify: center;
	color: var(--titles-color);
}

li {
	list-style: none;
}

a, a:hover, a:active, a:visited {
	color: var(--fg-color);
}
